site_name: BioChatter

theme:
  name: material

  font:
    text: Lato
    code: Roboto Mono

  palette:
    - scheme: default
      primary: blue grey
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue grey
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - content.code.copy
    - content.action.edit
    - search.suggest
    - search.highlight
    - navigation.instant
    - navigation.tabs
    - toc.integrate

  icon:
    repo: fontawesome/brands/github

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            heading_level: 3
  - table-reader
  - social
  - redirects:
      redirect_maps:
        "vignette-custom-bclight-simple.md": "vignettes/custom-bclight-simple.md"
        "vignette-custom-bclight-advanced.md": "vignettes/custom-bclight-advanced.md"
        "vignette-kg.md": "vignettes/kg.md"
        "vignette-rag.md": "vignettes/rag.md"
        "benchmarking.md": "features/benchmark.md"
        "chat.md": "features/chat.md"
        "rag.md": "features/rag.md"
        "reflexion-agent.md": "features/reflexion-agent.md"
        "open-llm.md": "features/open-llm.md"
        "wasm.md": "features/wasm.md"
        "podcast.md": "features/podcast.md"
        "llm_connect-reference.md": "api-docs/llm_connect.md"
        "vectorstore-reference.md": "api-docs/vectorstore.md"
        "kg-reference.md": "api-docs/kg.md"
        "api-reference.md": "api-docs/api-calling-base.md"
        "reflexion-reference.md": "api-docs/reflexion.md"
        "podcast-reference.md": "api-docs/podcast.md"
        "benchmark.md": "benchmark/overview.md"
        "benchmark-results.md": "benchmark/results.md"
        "benchmark-developer.md": "benchmark/developer.md"

site_url: https://biochatter.org/

nav:
  - Home: index.md
  - About:
      - Project: about/project.md
      - Design Philosophy: about/design-philosophy.md
      - Use Cases: about/use-cases.md
  - Get Started:
      - Installation: installation.md
      - Quickstart: quickstart.md
  - Learn:
      - Tutorials:
          - Basic Usage - Chat: features/chat.md
          - Multimodal Models: features/multimodal.md
          - Retrieval-Augmented Generation: features/rag.md
          - API Calling: features/api.md
          - Reflexion via LangGraph: features/reflexion-agent.md
          - Open-source and Local LLMs: features/open-llm.md
          - The Living Benchmark: features/benchmark.md
          - Podcast my Paper: features/podcast.md
          - LLM in your Browser - WebAssembly: features/wasm.md
      - HowTo / FAQ:
          - Knowledge Graph RAG: vignettes/kg.md
          - Retrieval-Augmented Generation (RAG): vignettes/rag.md
          - Customising BioChatter Light - Simple: vignettes/custom-bclight-simple.md
          - Customising BioChatter Light - Advanced: vignettes/custom-bclight-advanced.md
          - Customising BioChatter Light and Next - Cancer Genetics Use Case: vignettes/custom-decider-use-case.md
  - Benchmark:
      - Overview: benchmark/overview.md
      - All Results: benchmark/results.md
      - Developer Guide: benchmark/developer.md
  - Reference:
      - API Documentation:
          - LLM Connectivity: api-docs/llm_connect.md
          - Vectorstore Agent: api-docs/vectorstore.md
          - Knowledge Graph Agent: api-docs/kg.md
          - "API Calling: Base Classes": api-docs/api-calling-base.md
          - "API Calling: Web APIs": api-docs/api-calling-web.md
          - "API Calling: Python APIs": api-docs/api-calling-python.md
          - Reflexion Agent: api-docs/reflexion.md
          - Podcast: api-docs/podcast.md

repo_url: https://github.com/biocypher/biochatter
repo_name: biocypher/biochatter
edit_uri: edit/main/docs/

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - toc:
      toc_depth: 3

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - scripts/tablesort.js
