[tool.poetry]
name = "biochatter"
version = "0.0.0"
description = "Backend library for conversational AI in biomedicine"
authors = ["Sebastian Lobentanzer <sebastian.lobentanzer@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
langchain = "^0.0.200"
openai = "^0.27.8"
pymupdf = "^1.22.3"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
