[tool.poetry]
name = "biochatter"
version = "0.1.10"
description = "Backend library for conversational AI in biomedicine"
authors = [
    "Sebastian Lobentanzer <sebastian.lobentanzer@gmail.com>",
    "Shaohong Feng <shaohong.feng.78@gmail.com>",
]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
langchain = "0.0.147"
openai = "^0.27.8"
pymupdf = "^1.22.3"
pymilvus = "2.2.8"
tiktoken = "^0.4.0"
nltk = "^3.8.1"
redis = "^4.5.5"
retry = "^0.9.2"
transformers = "^4.30.2"
streamlit = { version = "^1.23.1", optional = true }
gTTS = { version = "^2.3.2", optional = true }
biocypher = { version = "^0.5.19", optional = true }

[tool.poetry.extras]
streamlit = ["streamlit"]
podcast = ["gTTS"]
biocypher = ["biocypher"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
bump2version = "^1.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 80