[tool.poetry]
name = "biochatter"
version = "0.4.12"
description = "Backend library for conversational AI in biomedicine"
authors = [
    "Sebastian Lobentanzer <sebastian.lobentanzer@gmail.com>",
    "Shaohong Feng <shaohong.feng.78@gmail.com>",
    "Andreas Maier <andreas.maier-1@uni-hamburg.de"
]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
langchain = "^0.0.347"
openai = "^1.1.0"
pymupdf = "^1.22.3"
pymilvus = "2.2.8"
tiktoken = "^0.5.2"
nltk = "^3.8.1"
redis = "^4.5.5"
retry = "^0.9.2"
stringcase = "^1.2.0"
transformers = "^4.30.2"
streamlit = { version = "^1.23.1", optional = true }
gTTS = { version = "^2.3.2", optional = true }
xinference = { version = "^0.12.0", optional = true }
rsa = "^4.9"
cryptography = "^41.0.7"
neo4j-utils = "^0.0.7"
seaborn = "^0.13.2"
rouge_score = "0.1.2"
evaluate = "^0.4.1"

[tool.poetry.extras]
streamlit = ["streamlit"]
podcast = ["gTTS"]
xinference = ["xinference"]

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
bump2version = "^1.0.1"
mkdocs-material = {extras = ["imaging"], version = "^9.5.10"}
mkdocstrings = {extras = ["python"], version = "^0.24.0"}
black = "^23.12.1"
isort = "^5.10.1"
flake8 = "^6.1.0"
pre-commit = ">=2.17.0"
mkdocs-table-reader-plugin = "^2.0.3"
scipy = "^1.12.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 80
target-version = ['py310']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
from_first = true
line_length = 80
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
known_num="numpy,pandas"
sections = "FUTURE,STDLIB,THIRDPARTY,NUM,FIRSTPARTY,LOCALFOLDER"
no_lines_before="LOCALFOLDER"
balanced_wrapping = true
force_grid_wrap = 0
length_sort = "1"
indent = "    "
profile = "black"

[tool.flake8]
ignore = ["E203", "D200", "D202", "D401", "D105", "W504"]
per-file-ignores = [
    "docs/source/conf.py:D100",
    "tests/*:D100,D101,D102",
    "*/__init__.py:F401"
]
max-line-length = 80
count = true
